@{
    //var item = Sitecore.Context.Database.GetItem("/sitecore/content/Home/Articles/SiteSetting/SiteSettingTemplate");
    var item = Sitecore.Context.Database.GetItem("{8E3172E9-2B3D-4F34-AA14-E65F9AA61333}");
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
	


<div class="container">
    <div class="text-white bg-primary">
        <p class="lead">@Html.Sitecore().Field("Copyright", item)</p>
    </div>
</div>

   