 @using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Extensions
@using Sitecore.Data;

@{

    var item = Sitecore.Context.Database.GetItem("{319231EA-9BD8-4EE8-A456-2D99D661B554}");
    ViewBag.Title = "Search";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("searchPredicate","Search" ,FormMethod.Post))
{
    @Html.Sitecore().FormHandler("Search", "searchPredicate")

    <main role="main" class="container blog-posts">
        <div class="main-search">
            <div class="input-group">
                @Html.TextBox("searchInput", "", new { @class = "form-control", placeholder = @Html.Sitecore().Field("TextboxText", item), autocomplete = "off" })
                <div class="input-group-append">

                    <input type="submit" id="btnSearch" class="btn btn-dark" />

                </div>
            </div>
        </div>
    </main>
    <div id="resultsItem">

    </div>
}

